<h2>Sign in</h2>

<%= form_with(scope: resource_name, url: session_path(resource_name)) do |f| %>
  <legend class="fs-6 mb-4">Please enter your sign in details to continue</legend>

  <div class="mb-3">
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, "Password", class: "form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-3 form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, "Remember me", class: "form-check-label" %>
    </div>
  <% end %>

  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<div class="footer-links" data-sign-in-target="footerLinks">
  <%= render "users/shared/links" %>
</div>

