<%# header and navigation menu %>
<nav>
  <h1>Example devise nav</h1>
  <ul>
    <li><%= link_to "Home", root_path %></li>
  </ul>
<% if current_user %>
  <p>You are <strong>Signed in</strong></p>
  <ul>
    <li><%= link_to "Your Dashboard", dashboards_path %></li>
    <li><%= link_to "Edit account", edit_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  </ul>
<% else %>
  <p>You are <strong>Not signed in</strong></p>
  <ul>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  </ul>
<% end %>
</nav>
