<h1>Manage my two-factor authentication</h1>

<div>
  <div>
    <div>
      <% if current_user.otp_enabled_and_required? %>
        ✅
      <% else %>
        🚫
      <% end %>
    </div>
    <div>
      Two-factor authentication is currently <strong><%= current_user.otp_enabled_and_required? ? "enabled" : "disabled" %></strong> for your user.
    </div>
  </div>

  <div>
    <div>
      <% if current_user.otp_backup_codes.present? %>
        ✅
      <% else %>
        🚫
      <% end %>
    </div>
    <div>
      <% if current_user.otp_backup_codes.present? %>
        <p>
          You currently have backup codes generated.
        </p>
        <p>
          If you lose access to your authentication app you will require these to
          regain access to APP_NAME_HERE. Please keep them safe and
          secure.
        </p>
      <% else %>
        You <strong>do not</strong> currently have backup codes generated.
      <% end %>
    </div>
  </div>

  <hr />

  <% if current_user.otp_enabled_and_required? %>
    <h2>Generate backup codes</h2>
    <p>
      If you lose access to your authentication app, you can use these codes instead of the 6-digit One Time Passwords from your device.
    </p>
    <p>
      Each code can only be used once, and we recommend you keep them in a safe, secure place.
    </p>

    <%= button_to t(".create_backup_codes"), backup_codes_users_multi_factor_authentication_path, class: "btn btn-primary px-6 mt-6", data: { turbo: false } %>

    <%= button_to backup_codes_users_multi_factor_authentication_path, method: :delete, class: "btn text-primary ps-0 d-flex mt-2 align-items-center" do %>
      <%= t(".destroy_backup_codes") %>
    <% end if current_user.otp_backup_codes.present? %>

    <hr />
  <% end %>


  <h2>Manage two-factor authentication</h2>
  <p>
    If you need to set up a new device or authentication app, you can do that on this page.
  </p>

  <%= link_to t(".new_multi_factor_authentication"), new_users_multi_factor_authentication_path, class: "btn btn-outline-primary px-6" %>
</div>
