<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="form-text">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <div class="form-text">
        Leave blank if you don't want to change it. <%= @minimum_password_length %> characters minimum
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, class: "form-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    <div class="form-text">(we need your current password to confirm your changes)</div>
  </div>

  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<hr class="border-secondary my-6" />

<div class="mb-3 mt-3">
  <h2 class="">Two-factor authentication</h2>
  <p class="">Manage the device and codes you’ll use to sign in to this application.</p>

  <%= link_to "Manage my two-factor authentication", users_multi_factor_authentication_path, class: "btn btn-primary px-6 my-6" %>

  <div class="mb-3 mt-3">
    <%= render "application/mfa_help" %>
  </div>
</div>

<hr class="border-secondary my-6" />

<div class="mt-3">
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
</div>

<div class="mt-3">
  <%= link_to "Back", :back %>
</div>
